<h4>
  <p>Livros favoritos</p>
</h4>
<div class="lista" *ngIf="livros.length > 0">
  <table class="table table-hover">
    <colgroup>
      <col span="1" style="width: 10%;">
      <col span="1" style="width: 40%;">
      <col span="1" style="width: 10%;">
      <col span="1" style="width: 15%;">
      <col span="1" style="width: 10%;">
      <col span="1" style="width: 2%;">
    </colgroup>
    <thead class="thead-light">
      <tr>
        <th>Titulo</th>
        <th>Descrição</th>
        <th>Categoria</th>
        <th>Autor(es)</th>
        <th>Livro</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr id="content" *ngFor="let livro of livros">
        <td>
          <div>
            {{livro.titulo}}
          </div>
        </td>
        <td>
          <div>
            {{livro.descricao}}
          </div>
        </td>
        <td>
          <div>
            {{livro.categorias}}
          </div>
        </td>
        <td>
          <div>
            {{livro.autores}}
          </div>
        </td>
        <td>
          <div>
            <img src="{{livro.capaLivro}}">
          </div>
        </td>
        <td>
          <div><button class="btn btn-danger" [disabled]="" (click)="onClickButton(livro.id)">Excluir</button></div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<br>
<br>
<div class="alert alert-success" role="alert" *ngIf="sucess">
  Livro excluído com sucesso!
</div>
