<h4>
  <p>Busque por seu livro :)</p>
</h4>
<div class="form-inline waves-light">
  <div>
    <input style="width: 485%;" class="form-control mr-sm-2" type="text"
    [(ngModel)]="livroBusca" placeholder="Pesquisa"/>
  </div>
  <div style="margin-left: auto">
    <button class="btn btn-primary m-1" (click)="PesquisarLivro(livroBusca)">Pesquisar</button>
  </div>
</div>
<br>
<div>
  <div class="alert alert-success" role="alert" *ngIf="sucess">
    Livro favoritado! :)
  </div>
  <div class="alert alert-danger" role="alert" *ngIf="erro">
      Ops! Tivemos um problema ao efetuar essa ação. Quer tentar novamente? :)
  </div>
  <div class="alert alert-secondary" role="alert" *ngIf="warning">
      Não encontramos o Livro pesquisado. Tente novamente! :)
  </div>
  <div class="alert alert-warning" role="alert" *ngIf="favoritado">
      Livro já favoritado! :)
  </div>
</div>
<br>
<div class="lista" *ngIf="livro">
  <table class="table table-hover">
    <colgroup>
      <col span="1" style="width: 10%;">
      <col span="1" style="width: 40%;">
      <col span="1" style="width: 10%;">
      <col span="1" style="width: 15%;">
      <col span="1" style="width: 10%;">
      <col span="1" style="width: 2%;">
    </colgroup>
    <thead class="thead-light">
      <tr>
        <th>Titulo</th>
        <th>Descrição</th>
        <th>Categoria</th>
        <th>Autor(es)</th>
        <th>Livro</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr id="content" *ngFor="let livro of livro">
        <td>
          <div>
            {{livro.titulo}}
          </div>
        </td>
        <td>
          <div>
            {{livro.descricao}}
          </div>
        </td>
        <td>
          <div>
            {{livro.categorias}}
          </div>
        </td>
        <td>
          <div>
            {{livro.autores}}
          </div>
        </td>
        <td>
          <div>
            <img src="{{livro.capaLivro}}">
          </div>
        </td>
        <td>
          <div><button class="btn btn-outline-warning" (click)="onClickButton(livro)">Favoritar</button></div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
